<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis - DiagnoBot</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DiagnoBot</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Diagnosis</a></li>
                <li><a href="/apidoc">API Documentation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/awasisto/diagnobot">Fork me on GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <br>
    <h2>Diagnosis</h2><br>
    <h4>Silahkan pilih gejala yang anda alami</h4><br>
    <div class="form-horizontal" id="diagnosisForm">
        <br>
        <button class="btn btn-default" id="diagnosisButton">Diagnosis</button>
    </div>
    <br>
    <div id="result"></div>
    <script>
        $(document).ready(function () {
            var httpreq = new XMLHttpRequest();
            httpreq.open("GET", "/api/v1/symptoms", false);
            httpreq.send(null);
            var data = JSON.parse(httpreq.responseText);

            var items = [];
            data.forEach(function (tuple) {
                items.push("<div class='checkbox'><label><input type=\"checkbox\" name=\"symptom\" value=\"" +
                    tuple.id + "\">" + tuple.name + "</label></div>");
            });

            items.forEach(function (item) {
                $(item).prependTo("#diagnosisForm");
            });

            $("#diagnosisButton").click(function () {
                var diagnosisRequest = {};
                diagnosisRequest.symptoms = [];
                $("input[name='symptom']:checked").each(function () {
                    var symptom = {};
                    symptom.id = parseInt($(this).val());
                    symptom.name = $(this).html();
                    diagnosisRequest.symptoms.push(symptom);
                });

                if (diagnosisRequest.symptoms.length < 3) {
                    alert("Silahkan pilih minimal tiga gejala");
                } else {
                    $("#result").empty();

                    $.ajax({
                        type: "POST",
                        url: "/api/v1/diagnosis",
                        data: JSON.stringify(diagnosisRequest),
                        contentType: "application/json",
                        success: function(data){
                            var resultHtml = '<h4>Kemungkinan kondisi yang sedang anda alami:</h4><ul>';

                            for (var i = 0; i < 3; i++) {
                                var possibleCondition = data[i];
                                resultHtml += '<li>' + possibleCondition.name + ' dengan probabilitas ' +
                                    (possibleCondition.probability * 100).toFixed(2) + '%</li>'
                            }

                            resultHtml += '</ul>';

                            $("#result").append(resultHtml);
                        }
                    });
                }
            });
        });
    </script>
</div>
<footer class="container">
    <hr/>
    <p>Copyright &copy; 2018 Adityawarman Fanaro, Andika Wasisto</p>
</footer>
</body>

</html>