<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis - DiagnoBot</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DiagnoBot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Diagnosis</a></li>
                    <!--<li><a href="/apidoc">API Documentation</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/awasisto/diagnobot">Fork me on GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br>
        <h2>Pilih gejala</h2><br>
        <form class="form-horizontal" id="diagnosisForm">
            <br>
            <button type="submit" class="btn btn-default">Diagnosis</button>
        </form><br>
        <script>
            $(document).ready(function () {
                // var origin = window.location.origin;
                // fetch symptoms from the REST API
                // $.getJSON("/api/v1/symptoms", null, function (data) {
                //     var items = [];
                //     $.each(data, function (tuple) {
                //         items.push("<input type=\"checkbox\" name=\""+ tuple.name + "\" value=\"" + tuple.id + "\">" + tuple.name + "<br>");
                //         // $.each(tuple, function(item) {
                //         //     items.push(item);
                //         // });
                //     });
                //     document.write(items);
                //     // $("#symptoms")
                // });
                var httpreq = new XMLHttpRequest();
                httpreq.open("GET", "/api/v1/symptoms", false);
                httpreq.send(null);
                var data = JSON.parse(httpreq.responseText);
                
                var items = [];
                data.forEach(function (tuple) {
                    items.push("<input type=\"checkbox\" name=\"" + tuple.name + "\" value=\"" + tuple.id +
                        "\">" + tuple.name + "<br>");
                });

                items.forEach(function (item){
                    $(item).prependTo("#diagnosisForm");
                });

                $("#diagnosisForm").submit(function () {
                    alert("Not yet implemented.");
                });
            });
        </script>
    </div>
    <footer class="container">
        <hr />
        <p>Copyright &copy; 2018 Adityawarman Fanaro, Andika Wasisto</p>
    </footer>
</body>

</html>